@font-face {
    font-family: "uni-heavy";
    src: url("../fonts/uni-sans-heavy.otf");
}

@font-face {
    font-family: "uni-thin";
    src: url("../fonts/uni-sans-thin.otf");
}

/* vertically center divs. so annoying */
.container{
  width: 50%;
  top: 25%;
  margin: auto;

  position: relative;

  #left: 50%;
  #-webkit-transform: translate(-50%,-50%);
  #    -ms-transform: translate(-50%,-50%);
  #        transform: translate(-50%,-50%);
}

#icon img{
  position: relative;
  display: block;
  margin: 0 auto;
}

.inst{
  position: relative;
  margin-top: 8%;
  display: block;
  text-align: center;
  font-family: 'uni-heavy';
  font-size: 2em; /* native */
  font-size: 4vh; /* viewport based */
  letter-spacing: 0.12em;
  color: #FFFFFF;
}


    * {
      padding: 0;
      margin: 0;
      border: 0;
    }

    body {
      background: #eee;
      padding: 15px;
      text-align: center;
      font-family: 'uni-heavy';
    }

    #demo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      background: #457;
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    #demo li.first {
      background: #577;
    }

    #demo li.middle {
      background: #1e8;
    }

    #demo li.last {
      background: #e8b;
    }

    #dragend {
      position: absolute;
      bottom: 50px;
      right: 50px;
      background: #345;
      padding: 18px;
      color: #fff;
      border-radius: 3px;
      width: 150px;
      font-size: 15px;
    }

    #dragend h1 {
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 12px;
    }

    #dragend a {
      text-decoration: underline;
      color: #fff
    }

    #demo p {
      max-width: 600px;
      margin: 0 auto;
      padding: 0 30px;
      margin-bottom: 30px;
    }

    #demo p:first-child {
      margin-top: 30px;
    }

    #demo p:last-child {
      margin-bottom: 200px;
    }



.navigation-bar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  display: table;
  table-layout: fixed;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: #ef503b;
  color: #ffffff;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.navigation-bar__center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 44px;
  vertical-align: top;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.navigation-bar__center {
  width: 45%;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 500;
}
.navigation-bar__center:first-child:last-child {
  width: 100%;
}


/*
    registration page
*/

.title{
  position: relative;
  display: block;
  text-align: center;
  font-size: 2em; /* native */
  font-size: 4vh; /* viewport based */
  letter-spacing: 0.12em;
  color: #FFFFFF;
}

#reg-box{
  position: relative;
  margin: 5% auto;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  background-color: #FFFFFF;
}

#reg-box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}